<h1>Edit <%= @wine.name %> </h1>


<form method="POST" action="/wines/<%= @wine.id %>">
  <p> Wine Name/Grape: <%= @wine.name%> </p>
  <p> Vineyard: <%= @wine.vineyard%> </p>
  <p> Year: <%= @wine.year%> </p>

  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Rating: </label><input type="number" name="rating" min="1" max="10"><% @wine.rating %></br>
    <label> Tasting Notes: </label>
    <input type="textarea" name="wine[tasting_notes]" value="<%= @wine.tasting_notes %>"><br><br>
    <br></br>
    <input type="submit" name="Edit Wine" value="Submit">
  </form>











<br></br>
<small><p><a href="/wines">Tweet Index</a></p></small>
