<h2>Welcome to the Wine Tracker App!</h2>

<h3>What would you like to do?</h3>
  <ol>
    <li>To view a list of all <strong><a href="/users">active users</a></strong></li>
    <li>To <strong><a href="/wines/new">add a new wine?</a></strong> </li>
    <li>To return to the <strong><a href="/">homepage?</a></strong></li>
  </ol>
<br></br>


<h3>Complete Wine Index for all users:</h3>
    <% @wines.each do |wine| %>

        <strong>Wine Name/Grape:   <a href="/wines/<%= wine.id %>"> <%= wine.name %></a></strong>

        <ul>
          <li> Vineyard(Producer):   <%= wine.vineyard %></li>
          <li> Rating:   <%= wine.rating %></li>
          <li> Notes:   <%= wine.tasting_notes %></li>
          <li>User: <a href="/users/<% wine.user.slug %>"><%= wine.user.username %></a></li>
        </ul>

      <br></br>
    <% end %>
